<div class = "container">
  <p> your short url is: </p>
   <% if @short_url.valid? == false %>
     <p> You didn't type in a real address. </p>
    <% else %>
      <p> <%= "http:localhost:9393/" + @short_url.shortform %> </p>
    <% end %>

  <a href = "/"> home </a>

</div>
